*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
p{
	margin-bottom: 20px;
}
ul>li{
	margin-left: 20px;
}
.eth-benefits{
	margin-top: 20px;
	margin-bottom: 20px;
}
.eth-benefits-list{
	font-weight: bold;
	font-style: italic;
	color: #fff;
}
.header{
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: #49153f;
	color: #fff;
	z-index: 2;
}
.menu{
	margin-top: 33px;
	margin-right: 150px;
}
.menu > li{
	display: inline;
	margin-right: 0.4px;
}
.menu > li:last-of-type{
	margin-right: 0;
}
.menu > li > a{
	font-size: 22px;
	cursor: pointer;
	padding: 7px 11px;
}
.logo{
	font-size: 40px;
	font-weight: bold;
	margin-left: 20px;
	width: 195px;
	text-align: center;
}

a:link, a:visited{
	text-decoration: none;
	color: #fff;
	border-top: 1px solid #fff;
}
a:hover{
	color: #d3ccc2;
	border-top: 3px solid #fff;
}
.front-image > img{
	width: 100%;
	height: 350px;
}
#background-image{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	bottom: 0;
}

.container{
	display: flex;
	width: 1100px;
	height: 100%;
	color: #d3ccc2;
	background-color: #01031e;
	flex-direction: column;
	margin: 10px auto 50px auto;
	padding: 30px;
	font-size: 25px;
	border-radius: 3px;
}
h2{
	margin: 0 auto;
	text-align: center;
	margin-bottom: 15px;
	width: 900px;
	color: #700080;
	font-family: "times new roman", times, serif;
}
h3{
	margin: 0 auto;
	text-align: center;
	margin-bottom: 15px;
	width: 900px;
	color: #700080;
	font-family: "times new roman", times, serif;
}
h4{
	text-align: center;
}
.text{
	margin-top: 30px;
}
.quote{
	font-size: 21px;
	margin-left: 850px;
}
#home{
	margin-bottom: 80px;
}
#blockchain{
	margin-bottom: 80px;
}
#bitcoin{
	margin-bottom: 80px;
}
#ethereum{
	margin-bottom: 80px;
}
#eth-logo{
	position: absolute;
	width: 100px;
	height: 100px;
	z-index: 1;
}
.infographics{
	margin: 10px 120px;
	border-radius: 6px;
}




.footer{
	display: flex;
	justify-content: flex-end;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #49153f;
	color: #fff;
	z-index: 2;
}
.footer-menu{
	margin-top: 20px;
	margin-right: 150px;
}
.footer-menu > li{
	display: inline;
	margin-right: 0.4px;
}
.footer-menu > li:last-of-type{
	margin-right: 0;
}
.footer-menu > li > a{
	font-size: 20px;
	cursor: pointer;
	padding: 7px 11px;
}